<body class="admin-menu-body">
<div class="dashboard" style="width: 100%;vertical-align: middle;display: table-cell;">


  <a class="tile tile-lg tile-sqr tile-amber ripple-effect" [routerLink]="['/admin/data-management/tables']">
    <span class="content-wrapper">
      <span class="tile-content">
          <img class="bgIcon" src="assets/img/backpage.svg" />
        <span class="tile-img tile-img-bg"></span>
        <span class="tile-holder tile-holder-sm">
          <span class="title">Sipariş Sayfasına Dön</span>
        </span>
      </span>
    </span>
  </a>
  <a class="tile tile-lg tile-pink ripple-effect" [routerLink]="['/admin/data-management/subscriber-company']">
    <span class="content-wrapper">
      <span class="tile-content">
          <img class="bgIcon" src="assets/img/coding.svg" />
        <span class="tile-img tile-img-bg"></span>
        <span class="tile-holder tile-holder-sm">
          <span class="title">Veri Yönetimi</span>
        </span>
      </span>
    </span>
  </a>

  <a class="tile tile-lg tile-light-green ripple-effect" [routerLink]="['/admin/reports/income-report']">
    <span class="content-wrapper">
      <span class="tile-content">
          <img class="bgIcon" src="assets/img/income.svg" />
        <span class="tile-img"></span>
        <span class="tile-holder tile-holder-sm">
          <span class="title">Gelir Yönetimi</span>
        </span>
      </span>
    </span>
  </a>
  <a class="tile tile-lg tile-sqr tile-indigo ripple-effect" [routerLink]="['/admin/reports/expense-report']">
    <span class="content-wrapper">
      <span class="tile-content">
          <img class="bgIcon2" src="assets/img/medical.svg" />
        <span class="tile-img"></span>
        <span class="tile-holder tile-holder-sm">
          <span class="title">Gider Yönetimi</span>
        </span>
      </span>
    </span>
  </a>
  <a class="tile tile-lg tile-sqr tile-purple ripple-effect" [routerLink]="['/admin/reports/receipt-data-report']">
    <span class="content-wrapper">
      <span class="tile-content">
          <img class="bgIcon2" src="assets/img/note.svg" />
        <span class="tile-img"></span>
        <span class="tile-holder tile-holder-sm">
          <span class="title">Adisyon Verileri</span>
        </span>
      </span>
    </span>
  </a>
  <a class="tile tile-lg tile-light-blue ripple-effect" [routerLink]="['/admin/reports/worker-management']">
    <span class="content-wrapper">
      <span class="tile-content">
          <img class="bgIcon" src="assets/img/salary.svg" />
        <span class="tile-img tile-img-bg"></span>
        <span class="tile-holder tile-holder-sm">
          <span class="title">Personel Verileri</span>
        </span>
      </span>
    </span>
  </a>

  <a class="tile tile-lg tile-pink ripple-effect" [routerLink]="['/admin/reports/category-report']">
    <span class="content-wrapper">
      <span class="tile-content">
          <img class="bgIcon" src="assets/img/menu.svg" />
        <span class="tile-img"></span>
        <span class="tile-holder tile-holder-sm">
          <span class="title">Mutfak, Bar ve Nargile Satışları</span>
        </span>
      </span>
    </span>
  </a>
  <a class="tile tile-lg tile-sqr tile-amber ripple-effect" [routerLink]="['/admin/reports/favourite-product-report']">
    <span class="content-wrapper">
      <span class="tile-content">
          <img class="bgIcon2" src="assets/img/favorites.svg" />
        <span class="tile-img tile-img-bg"></span>
        <span class="tile-holder tile-holder-sm">
          <span class="title">Favori Ürün İstatistikleri</span>
        </span>
      </span>
    </span>
  </a>
  <a class="tile tile-lg tile-sqr tile-indigo ripple-effect" [routerLink]="['/admin/reports/company-sales-report']">
    <span class="content-wrapper">
      <span class="tile-content">
          <img class="bgIcon2" src="assets/img/shop.svg" />
        <span class="tile-img"></span>
        <span class="tile-holder tile-holder-sm">
          <span class="title">Firma Satış Verileri</span>
        </span>
      </span>
    </span>
  </a>
  <a class="tile tile-lg tile-light-green ripple-effect">
    <span class="content-wrapper">
      <span class="tile-content">
          <img class="bgIcon" src="assets/img/analytics.svg" />
        <span class="tile-img tile-img-bg"></span>
        <span class="tile-holder tile-holder-sm">
          <span class="title">İstatistik Verileri</span>
        </span>
      </span>
    </span>
  </a>

</div>
</body>
